a,
th.navbox-group,
th.navbox-title,
th.sidebar-title,
caption,
dt {
  font-weight: bold !important;
  color: #881391 !important;
  text-align: left !important;
  vertical-align: top !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
i,
b,
span.toctext,
span.texhtml,
.hatnote.navigation-not-searchable,
.mw-panel a,
li > a {
  color: #3032aa !important;
  font-weight: bold !important;
  font-style: normal !important;
}

div#toc,
.thumbinner,
html.client-js.ve-available,
div#content,
div#mw-panel,
table.sidebar.nomobile,
div#catlinks,
.navbox,
th.navbox-title,
th.navbox-group,
td.navbox-list.navbox-even,
td.navbox-abovebelow,
td.navbox-list.navbox-odd,
.quotebox.pullquote.floatright,
.wikitable,
.wikitable > * > tr > td {
  border: none !important;
  background-color: white !important;
}

span.toctogglespan,
div#siteSub,
span.mw-editsection {
  visibility: hidden !important;
}

.mw-body-content p {
  color: #37352f !important;
}
img.mwe-math-fallback-image-inline {
  border-bottom: #3032aa solid 1px !important;
  padding: 2px !important;
}

.navbar.plainlinks.hlist.navbar-mini {
  display: none !important;
}

.navbox-group,
.navbox-title {
  padding-left: 0px !important;
}

th.navbox-title > div[id] {
  margin-left: 0px !important;
}

.sidebar-list-content.mw-collapsible-content,.navbox tr {
  display: block !important;
}